@page "/reservas"
<h3>Modulo Reservas</h3>
<button class="btn btn-success" @onclick="() => { AsignarModo(FormModes.Agregar); }">Agregar</button>
@if (Modo != null) {
    <button class="btn btn-danger" @onclick="LimpiarFormulario">Borrar</button>
}
<FormularioReservas CambioRealizado="Refrescar" Modo="@Modo" Reserva="@reservaActual" ParaCambiarModo="AsignarModo" />
<ListaReservas Reservas="_reservas" ParaEditarReserva="EditarReserva" ParaEliminarReserva="EliminarReserva" />

@code {
    private FormModes? Modo = null;
    private Reserva reservaActual;
    private List<Reserva> _reservas;

    protected override void OnInitialized()
    {
        reservaActual = new Reserva();
        Refrescar();
    }

    void AsignarModo(FormModes? modo)
    {
        Modo = modo;
    }

    protected void EditarReserva(int id)
    {
        ObtenerReservaPorId(id);
        AsignarModo(FormModes.Editar);
    }

    protected void EliminarReserva(int id)
    {
        ObtenerReservaPorId(id);
        AsignarModo(FormModes.Eliminar);
    }

    protected void LimpiarFormulario()
    {
        reservaActual = new Reserva();
    }

    protected void ObtenerReservaPorId(int id)
    {
        CRUDReservas crudReservas = new CRUDReservas();
        reservaActual = crudReservas.SelectByID(id);
    }

    void Refrescar()
    {
        CRUDReservas crudReservas = new CRUDReservas();
        _reservas = crudReservas.Read();
    }
}
