@page "/vehiculos"
<h2>Vehiculos</h2>

<form>
    <div class="form-group">
        <label for="IdVehiculo">Id Vehiculo</label>
        <input type="number" class="form-control" id="IdVehiculo" placeholder="ID">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-group">
        <label for="exampleInputFile">File input</label>
        <input type="file" id="exampleInputFile">
        <p class="help-block">Example block-level help text here.</p>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@code {

}
