@page "/vehiculos"
<h3>Modulo Vehiculos</h3>
<button class="btn btn-success" @onclick="() => { AsignarModo(FormModes.Agregar); }">Agregar</button>
@if (Modo != null)
{
    <button class="btn btn-danger" @onclick="LimpiarFormulario">Borrar</button>
}
<FormularioVehiculos CambioRealizado="Refrescar" Modo="@Modo" Vehiculo="@vehiculoActual" ParaCambiarModo="AsignarModo" />
<ListaVehiculos Vehiculos="_vehiculos" ParaEditarVehiculo="EditarVehiculo" ParaEliminarVehiculo="EliminarVehiculo" />

@code {
    private FormModes? Modo = null;
    private Vehiculo vehiculoActual;
    private List<Vehiculo> _vehiculos;

    private List<Vehiculo> Vehiculos { get; set; }
    private List<Cliente> Clientes { get; set; }

     

        protected override void OnInitialized()
    {        
        vehiculoActual = new Vehiculo();
        Refrescar();
    }

    void AsignarModo(FormModes? modo)
    {
        Modo = modo;
    }

    protected void EditarVehiculo(int id)
    {
        ObtenerVehiculoPorId(id);
        AsignarModo(FormModes.Editar);
    }

    protected void EliminarVehiculo(int id)
    {
        ObtenerVehiculoPorId(id);
        AsignarModo(FormModes.Eliminar);
    }

    protected void LimpiarFormulario()
    {
        vehiculoActual = new Vehiculo();
    }

    protected void ObtenerVehiculoPorId(int id)
    {
        CRUDVehiculos crudVehiculos = new CRUDVehiculos();
        vehiculoActual = crudVehiculos.SelectByID(id);
    }

    void Refrescar()
    {
        CRUDVehiculos crudVehiculos = new CRUDVehiculos();
        _vehiculos = crudVehiculos.Read();
    }

}
